<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ввод данных</title>
    </head>
    <body>
        <h2>Ввод данных</h2>
        <form method="POST" action="/auth">
            <label>Введите имя пользователя</label><br>
            <input type="text" name="username" /><br><br>
            <label>Введите пароль</label><br>
            <input type="password" name="password" /><br><br>
            <input type="submit" value="Отправить" />
        </form>
    </body>
</html>
